BasedOnStyle: LLVM
Language: Cpp
Standard: c++17

IndentWidth: 2
TabWidth: 2
UseTab: Never

ColumnLimit: 100
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false

PointerAlignment: Left
ReferenceAlignment: Left
SpaceBeforeParens: ControlStatements

SortIncludes: true
IncludeBlocks: Preserve

AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false

BinPackParameters: false
BinPackArguments: false
ConstructorInitializerAllOnOneLineOrOnePerLine: true

IndentCaseLabels: true

Cpp11BracedListStyle: true
